@model List<EmployeeApiMvc.Models.Dtos.EmployeeDto>
@{
    ViewData["Title"] = "Employee details";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if(!string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success">
        <strong>Success</strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
else if(!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
<form>
    <button asp-action="Create" asp-controller="Employee" class="btn btn-primary mb-3">Create Employee</button>
    <table class="table table-dark table-striped">
        <thead>
            <tr class="table-active">
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Date Of Birth</th>
                <th class="text-center">E-mail</th>
                <th class="text-end">Salary</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach(var employeedto in Model)
                {
                    <tr>
                        <td class="text-center">@employeedto.Id</td>
                        <td class="text-center">@employeedto.FullName</td>
                        <td class="text-center">@employeedto.DateOfBirth.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">@employeedto.Email</td>
                        <td class="text-end">@employeedto.Salary</td>
                        <td class="text-center">
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employeedto.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employeedto.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
               <tr>
                   <td colspan="6">
                       <div>
                           No employees availble at this moment
                       </div>
                   </td>
               </tr> 
            }
        </tbody>
    </table>
</form>