@model List<EmployeeApiMvc.Models.Dtos.EmployeeDto>
@{
    ViewData["Title"] = "Employee details";
}
<h3>@ViewData["Title"]</h3>
<hr />
<form>
    <button asp-action="Create" asp-controller="Employee" class="btn btn-primary mb-3">Create Employee</button>
    <table class="table table-dark table-striped">
        <thead>
            <tr class="table-active">
                <th>Id</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>E-mail</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach(var employeedto in Model)
                {
                    <tr>
                        <td>@employeedto.Id</td>
                        <td>@employeedto.FullName</td>
                        <td>@employeedto.DateOfBirth.ToString("dd/MM/yyyy")</td>
                        <td>@employeedto.Email</td>
                        <td>@employeedto.Salary</td>
                        <td>
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employeedto.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employeedto.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
               <tr>
                   <td colspan="6">
                       <div>
                           No employees availble at this moment
                       </div>
                   </td>
               </tr> 
            }
        </tbody>
    </table>
</form>